*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./img/drive.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.header {
  background-color: #fed4e9;
  padding: 10px;
  border-radius: 5%;
  animation: example 5s infinite;
}

@keyframes example {
  from {
    background-color: greenyellow;
  }
  to {
    background-color: yellow;
  }
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  max-width: 1072px;
  background: #f1f1f1;
  margin: 50px auto 0;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.block-tabs {
  display: flex;
}

.block-tabs-all {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .block-tabs-all {
    display: inline-block;
  }
}

.block-tabs-all :not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: #f2f4f4;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.tabs:hover {
  background-color: #fafb97;
}

.active-tabs {
  background: #ebfef0;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: #52c571;
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: #ebfef0;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

.search {
  height: 40px;
  width: 200px;
  padding-left: 10px;
}

.letter {
  margin-bottom: 10px;
}
